@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Proxima Nova, system-ui, sans-serif;
}

:root {
  --swiper-navigation-color: #E49A38;
  --swiper-pagination-color: #E49A38;
}
.cor{
  background-color: #fef8f1

}

