@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.cor{
  background-color: #fef8f1

}

/*                    {
                showCart
                ? Cart.map((event,index)=>{
                    return <div className="w-screen h-32 ">
                        <div className="">{event.productName}</div>
                    </div>
                })
                :<p>nada no carrinho</p>
            }*/ 